* {
    box-sizing: border-box;
}
body {
    background: #1D4350; /* For browsers that do not support gradients */
    /* special thanks to uigradients.com for making this gradient */
    background: -webkit-linear-gradient(left, #1D4350 , #A43931); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #1D4350, #A43931); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #1D4350, #A43931); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #1D4350 , #A43931); /* Standard syntax (must be last) */

    color: white;
    font-family: "Permanent Marker";
}
.container, .flex-row, .time-changer {
  display: -webkit-flex;
  display: flex;
}
.container {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;

  text-align: center;
  min-height: 100vh;
}
.flex-row {
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-top: 20px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 20px;
}
.time-changer {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;

  font-size: 30px;
}
#break-container {
  color: firebrick;
}
#focus-container {
  color: slateblue;
}
.duration-description {
  margin-right: 10px;
}
button {
  outline: none !important;
}
.dur-changer {
  border: none;
  background: none;
}
.inc {
  color: crimson;
}
.dec {
  color: deepskyblue;
}
#reset {
  background: slategrey;
}
#stop, #reset {
  height: 50px;
  font-size: 20px;
}
canvas {
  cursor: pointer;
}
